.klaska {
    @media min-width: 200px;
    min-width: 200px;
    position: static;
        float: none;
    text-align: center;
    display: inline-block;
}
.p {
    color: whitesmoke;
    text-align: center;

}