.navbar-nav>li {
    float: none;
    text-align: center;
    display: inline-block;
}

.row {
    margin-bottom: 10px;
}

@media (max-width: 768px) {

}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 240px;
}

.carousel-inner {
    margin: 0 auto;
    height: 240px;
}

.btn-group-vertical {

}

#l1 {
    font-size: 11px;
}

#l2 {
    font-size: 11px;
}

#l3 {
    font-size: 11px;
}

#to_proj {
    background: transparent;
    align-content: center;
    align-self: center;
}

#bar {
    background: #111111;
}

#bottom_bar {
    background: #111111;
}

body {
    padding-top: 59px;
    background-color: #222222;
}

.label {
    color: whitesmoke;
}

span {
    color: whitesmoke;
    display: inline-block;
}

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

h4 {
    color: whitesmoke;
}

h6 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: whitesmoke;
    text-align: center;
}


.img-responsive-parent {
    /*margin: 0 -25px;*/
    /*margin-left: 20px;*/
}

.btn-primary {
    background: #222222;
    color: whitesmoke;
    border: none;
    border-radius: 0;
    text-align: left;
}

.btn-primary:hover {
    background: #262626;
}


#types {
    text-align: left;
    width: 110%;
    max-width: 110%;
    padding-left: 0px;
}

hr {
    height: 1px;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

a:active {
    background: #222222;
}

body {
    padding-bottom: 70px;
}