{% include 'header.html' %}
    <link href="{{ url_for('static', filename='klaska.css') }}" rel="stylesheet">
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/main_view.jpg" class="img-responsive center-block" alt="main_image">
    </div>
    <br>

    <h2 align="center">UPCYCLOPEDIA</h2>
    <br>
    <br>

    <h4 align="center">-SPOŁECZNOŚĆ-MATERIAŁY-PROJEKTY-BLOG-</h4>
    <br>
    <br>

    <h4 align="center">Funkcjonująca, przydatna, inspirująca przestrzeń wymiany wiedzy o upcyclingu.</h4>
    <br>
    <br>

    <h4 align="center">PLATFORMA skupiająca społeczność ludzi zaangażowanych w UPCYCLING</h4>
    <br>
    <br>

    <h6 align="center">http://www.upcyclopedia.pl</h6>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>