{% include 'header.html' %}
<link href="{{ url_for('static', filename='tiles.css') }}" rel="stylesheet">

<body>

{% include 'navbar.html' %}



{#<div class="container">#}
{#    <div class="img-responsive-parent">#}
{#        <img src="../static/webpage/images/pipes2.jpg" class="img-responsive center-block" alt="main_image">#}
{#    </div>#}
<div class="container-fluid" id="tiles">
    {% include 'material_tile.html' %}
</div>
</div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='webpage/js/category.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>