{% include 'header.html' %}
<body>
{% include 'navbar.html' %}


<div class="row">
    <div class="form-group col-xs-6">
        <label for="name" class="h4"></label>
        <input type="text" class="form-control" id="name" placeholder="Imię" required>
    </div>
    <div class="form-group col-xs-6">
        <label for="email" class="h4"></label>
        <input type="email" class="form-control" id="email" placeholder="E-mail" required>
    </div>
</div>
<div class="form-group">
    <label for="message" class="h4 "></label>
    <textarea id="message" class="form-control" rows="5" placeholder="Wpisz wiadomość" required></textarea>
</div>
<button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right ">Wyślij</button>
<div id="msgSubmit" class="h3 text-center hidden">E-mail zostal przekazany!</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/contact.js') }}"></script>
</body>
</html>