{% include 'header.html' %}


<link href="{{ url_for('static', filename='tiles.css') }}" rel="stylesheet">

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="bar">
    <div class="container">
        <ul class="nav navbar-nav">
              <div class="col-sm-3 col-md-3 pull-right klaska" id="searchbox">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="insert_form">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="search_button" type="submit"><i class="fa fa-search fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-bars fa-lg"></i></a></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Menu glowne</a></li>
                    <li><a href="/menu_materials">Menu odpadow</a></li>
                    <li><a href="/menu_projects">Menu projektow</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/about">O projekcie</a></li>
                </ul>
            </li>

             </ul>
    </div>
</nav>


<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/friends.jpg" class="img-responsive center-block" alt="main_image">
    </div>
    <div class="container-fluid" id="tiles">
        <div class="col-xs-12" id="column">
            <div class="row clickable-row">
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/designers.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>