{% include 'header.html' %}
<body>
{% include 'navbar.html' %}


<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/main_menu2.jpg" class="img-responsive center-block" alt="main_image">
    </div>

    <div class="form-group">
        <div class="btn-group-vertical" id="types">
            <a href="/menu_materials" class="btn btn-primary btn-block" >DOSTĘPNE ODPADY</a>
            <hr>
            <a href="/menu_projects" class="btn btn-primary btn-block">PROJEKTY</a>
            <hr>
            <a href="/about" class="btn btn-primary btn-block">O PLATFORMIE</a>
            <hr>
            <a href="/contact" class="btn btn-primary btn-block">KONTAKT</a>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>