<div class="row clickable-row" data-href="/material_exact">
    <div class="col-xs-7">
        <div class="img-responsive-parent">
            <img src="" width="180px" height="180px" class="img-responsive center-block" alt="No photo!"
                 onerror="imageError(this);">
        </div>
    </div>

    <div class="col-xs-5">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

</div>