{% include 'header.html' %}

<body>
{% include 'navbar.html' %}


<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner" role="listbox" id="carousel_inner">
            <div class="item active">
                <img src="" alt="Slide">
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h3 id="code"></h3>

    <h4 id="name_common">
    </h4>

    <p id="type">
    </p>

    <p id="subtype">
    </p>

    <p id="origin">
    </p>

    <hr>

    <p>OPIS:
        <br>
    </p>

    <p id="description">
    </p>

    <p>SZCZEGÓŁY TECHNICZNE:
        <br>
    </p>

    <p id="tech_info">
    </p>

    <hr>

    <p>DOSTĘPNOŚĆ:
        <br>
    </p>

    <p id="availability">
        <br>
    </p>
</div>

{#<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottom_bar">#}
{#    <div class="container">#}
{#        <ul class="nav navbar-nav">#}
{#            <li id="l1"><a href="#about">#}
{#                WWW</a>#}
{#            </li>#}
{#            <li id="l2"><a href="#contact">#}
{#                UDOSTĘPNIJ</a>#}
{#            </li>#}
{#            <li id="l3"><a href="#contact">#}
{#                WIĘCEJ</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}

</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="{{ url_for('static', filename='webpage/js/material_exact.js') }}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>