{% include 'header.html' %}
<link href="{{ url_for('static', filename='tiles.css') }}" rel="stylesheet">

<body>

{% include 'navbar.html' %}


<div class="container-fluid" id="tiles">
    {% include 'material_tile.html' %}
</div>
</div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottom_bar">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><button type="button" class="btn btn-primary btn-block" id="to_proj" align="center" background="#111111">
                        PROJEKTY Z TEJ KATEGORII
                        </button>
                    </li>
                </ul>
            </div>
        </nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/materials_list.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>