{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/materials.jpg" class="img-responsive center-block" alt="main_image">
    </div>

    <div class="form-group">
        <div class="btn-group-vertical" id="types">
            <a href="/category?id=0" class="btn btn-primary btn-block">KONIEC CYKLU ŻYCIA</a>
            <hr>
            <a href="/category?id=1" class="btn btn-primary btn-block">POZOSTAŁOŚCI PRODUKCYJNE</a>
            <hr>
            <a href="/category?id=2" class="btn btn-primary btn-block">ODPADY BUDOWLANE I ROZBIÓRKOWE</a>
            <hr>
            <a href="/category?id=3" class="btn btn-primary btn-block">ZAPASY TOWARÓW NIECHODLIWYCH</a>
            <hr>
            <a href="/category?id=4" class="btn btn-primary btn-block">POZOSTAŁE</a>
        </div>
    </div>
</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>