{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/pipes2.jpg" class="img-responsive center-block" alt="main_image">
    </div>

    <div class="form-group">
        <div class="btn-group-vertical" id="types">
            <a href="/mtypes" class="btn btn-primary btn-block">TYP MATERIAŁU</a>
            <hr>
            <a href="/mcats" class="btn btn-primary btn-block">POCHODZENIE MATERIAŁU</a>
        </div>
    </div>
</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/mtypes.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>