{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/krz.jpg" class="img-responsive center-block" alt="main_image">
    </div>

    <div class="form-group">
        <div class="btn-group-vertical" id="types">
            <a href="/projects" class="btn btn-primary btn-block">NAZWY PROJEKTÓW</a>
            <hr>
            <a href="/designers" class="btn btn-primary btn-block">PROJEKTANCI</a>
        </div>
    </div>
</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>