{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="img-responsive-parent">
        <img src="../static/webpage/images/pipes2.jpg" class="img-responsive center-block" alt="main_image">
    </div>

    <div class="form-group">
        <div class="btn-group-vertical" id="types">
            <a href="/materials_list?id=A" class="btn btn-primary btn-block" id="A">TWORZYWA SZTUCZNE</a>
            <hr>
            <a href="/materials_list?id=B" class="btn btn-primary btn-block" id="B">METAL</a>
            <hr>
            <a href="/materials_list?id=C" class="btn btn-primary btn-block" id="C">DREWNO</a>
            <hr>
            <a href="/materials_list?id=D" class="btn btn-primary btn-block" id="D">PAPIER</a>
            <hr>
            <a href="/materials_list?id=E" class="btn btn-primary btn-block" id="E">TEKSTYLIA</a>
            <hr>
            <a href="/materials_list?id=F" class="btn btn-primary btn-block" id="F">SZKŁO I CERAMIKA</a>
            <hr>
            <a href="/materials_list?id=G" class="btn btn-primary btn-block" id="G">ORGANICZNE</a>
            <hr>
            <a href="/materials_list?id=H" class="btn btn-primary btn-block" id="H">ELEKTRO-ODPADY</a>
        </div>
    </div>
</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/mtypes.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>