<nav class="navbar navbar-inverse navbar-fixed-top" id="bar">
    <div class="container">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-bars fa-lg"></i></a></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Menu glowne</a></li>
                    <li><a href="/menu_materials">Menu odpadow</a></li>
                    <li><a href="/menu_projects">Menu projektow</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li><a href="/about">O projekcie</a></li>
                </ul>
            </li>

             </ul>
    </div>
</nav>