{% include 'header.html' %}
<body>

{% include 'navbar.html' %}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox" id="carousel_inner">
            <div class="item active">
                <img src="" alt="Slide">
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <h3 id="name"></h3>
    <h4 id="author">
    </h4>
    <h4 id="location"></h4><br><br>
        <h4 id="year"><br>
        </h4>
        <br>
        <hr>
        <br>

        <div id="material">
            <p id="material_name">
            </p>

            <p id="material_description">
            </p>
        </div>

        <p id="technique">
        </p>

        <p id="description">
        </p>


        <nav class="navbar navbar-inverse navbar-fixed-bottom" id="bottom_bar">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="" id="link">
                        WWW</a>
                    </li>
                    <li><a href="/contact">
                        KONTAKT</a>
                    </li>
                </ul>
            </div>
        </nav>

</div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='webpage/js/project_exact.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>