<div class="row">
    <div class="col-xs-6">
        <a href="">
            <div class="img-responsive-parent">
                <img src="" width="180px" height="180px" class="img-responsive center-block"
                     alt="No photo!" onerror="imageError(this);">
            </div>
        </a>
    </div>

    <div class="col-xs-6">
        <a href="">
            <div class="img-responsive-parent">
                <img src="" width="180px" height="180px" class="img-responsive center-block"
                     alt="No photo!" onerror="imageError(this);">
            </div>
        </a>
    </div>


</div>
